// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//fontawesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Calender Styles
.cv-day {
    transition: 1s background-color;
    background-color: #fff;
    background-position: center !important;
    transition: background 0.8s !important;

    &:active {
        background-color: #ee7b46 !important;
        background-size: 100% !important;
        transition: background 0s !important;
    }

    &:hover {
        border: dashed 1px #272727;
        overflow: hidden;
    }
}

// .cv-item.span1 {
//     width: calc(14.28571% - 0.05em);
//     height: calc(100% - 1.4em);
//     border-radius: 0%;
//     border: none;
//     text-align: center;
//     color: #fff;
// }

.bg-event {
    background-color: #f71919 !important;
    color: #fff;
}

.theme-default .cv-day.outsideOfMonth {
    transition: 1s background-color;
    background-color: #afb6ac !important;

    &:active {
        background-color: #ee7b46 !important;
        background-size: 100% !important;
        transition: background 0s !important;
    }
}

.theme-default .cv-day.past {
    transition: 1s background-color;
    background-color: #afb6ac;
    pointer-events: none;
    cursor:no-drop;
    color: #f71919;

}

.theme-default .cv-day.today {
    transition: 1s background-color;
    background-color: #f03325;
}


// Icon button styles POP up
.icon-button {
    font-size: 15px;
    cursor: pointer;
    margin: 0 5%;
    transition: color 1s, transform 0.2s;

    &:hover {
        transition: color 1s, transform 0.2s;
        animation: brath 2s linear infinite;
        z-index: 1000;

        @keyframes brath {
            0% {
                transform: scale(1.8);
            }
            25% {
                transform: scale(1.5);
            }
            50% {
                transform: scale(1.8);
            }
            75% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1.8);
            }
        }
    }

    &:active {
        transition: color 0s;
        color: #ff744a !important;
    }
}

// Icon button styles POP up
.event-button {
    // font-size: 15px;
    cursor: pointer;
    // margin: 0 5%;
    // transition: color 1s, transform 0.2s;

    &:hover {
        transition: color 1s, transform 0.2s;
        animation: brath 2s linear infinite;
        z-index: 1000;

        @keyframes brath {
            0% {
                transform: scale(1.8);
            }
            25% {
                transform: scale(1.5);
            }
            50% {
                transform: scale(1.8);
            }
            75% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1.8);
            }
        }
    }

    &:active {
        transition: color 0s;
        color: #ff744a !important;
    }
}
