<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <style>
        .center {
          margin: auto;
          width: 60%;
          padding: 10px;
        }
        </style>
</head>
<body class="center">
    <div class="center">

        <h2 style="text-align:center;">LOMC Micro Credit & Investment</h2>
        <p style="text-align:center;">No: 2/22 , Monaragala road, Bibile</p>
        <p style="text-align:center;">Phone: +94774341561 Email: mail@lomc.com</p>

        <hr>

        <table>
            <tr>
            <th>
                Invoice ID : 220065 --------------------------------

            </th>
            <th>
                Date : 2021 / 02 / 03
            </th>
        </tr>
        </table>

        <table>
            <tr>
            <th></th>
            <th></th>
        </tr>
            <tr>
                <td>Remaining Balance :</td>
                <td> 225000 LKR</td>
            </tr>
            <tr>
                <td>Remaining Balance :</td>
                <td> 225000 LKR</td>
            </tr>
            <tr>
                <td>Remaining Balance :</td>
                <td> 225000 LKR</td>
            </tr>
            <tr>
                <td>Remaining Balance :</td>
                <td> 225000 LKR</td>
            </tr>

        </table>
        <h4>Total Paid amount : 25600 LKR</h4>

        <hr>

        <p style="text-align:center;">Thank you ! </p>
        <hr>





    </div>


</body>
</html>
